<!DOCTYPE html>
<html>
<head>
    <title>BuckBuckGo | Search Engine for Wizards</title>
    <%= favicon_link_tag 'duckfake-1.png', type:'image/png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
    <div class="header-bar"></div>
    <%= yield %>
</body>
</html>
